.card-text-wrapper {
    color: #1c1d1f;
    white-space: nowrap;
    flex: 1;
    min-width: 1px;
    width: 100%;
    font-size: 10px;
}

.row-container {
    display: grid;
    grid-auto-flow: column;
    /* grid-gap: 1.6rem; */
    margin: 10px 10px;
    text-align: center;
}

.card-wrapper {
    flex-direction: column;
    /* max-width: 37.5rem;
    min-width: 17.3rem; */
    text-align: left;
}

a {
    text-decoration: none;
    color: #1c1d1f;
    font-weight: inherit;
}

span.text-heading {
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    color: #6a6f73;
}


.slick-prev {
    left: 5px;
    background: black;
    z-index: 9999;
}

.slick-next {
    right: 5px;
    background: black;
    z-index: 9999;
}