.navbar-main{
    display: flex;
    width:97%;
    height:70px;
    background-color: white;
    justify-content: space-around;
   padding-left:2%;
   padding-right:1%;
 
}

.navbar-secondary{
    display: flex;
    width:96%;
    height:50px;
    background-color: white;
    justify-content: space-around;
    border-top: 1px solid lightgray;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 0.9em;
    
}
.navbar-main img{
    height:30px;
}

.navbar-element{
    margin:auto;
}

.navbar-search{
    width: 380px;
    min-width:180px;
    height:40px;
    border: 1px solid;
    border-radius: 20px;
}

.navbar-search div{
    display: inline-block;
    
}
.search-icon{
    top: 7px;
    left: -20px;
    position: relative;

}
.navbar-search input{
    border: none;
    outline: none;
    vertical-align: middle;
    
    width:280px;
}

.navbar-element-categories span{
height:100%;
line-height: 4em;

}

.navbar-element-categories:hover > ul {
    display:initial;
}

.navbar-element-categories ul li:hover > ul {
    display:initial;
}

